<?xml version="1.0" encoding="UTF-8"?>
 
<Configuration>
  <Properties>
    <Property name="log.dir">$${sys:isbench.output.dir}</Property>
    <Property name="log.dir">$${sys:isbench.output.dir}</Property>
  </Properties>
  
  <Appenders>
    <File name="Statistics" fileName="${log.dir}/stats.csv" append="false">
      <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
      <filters>
        <MarkerFilter marker="STATS" onMatch="ACCEPT" onMismatch="DENY"/>
      </filters>
    </File>
    <File name="History" fileName="${log.dir}/history.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} - %m%n"/>
      <filters>
        <MarkerFilter marker="HISTORY" onMatch="ACCEPT" onMismatch="DENY"/>
      </filters>
    </File>
    <Console name="Performance" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} - %m%n"/>
      <filters>
        <MarkerFilter marker="PERFORMANCE" onMatch="ACCEPT" onMismatch="DENY"/>
      </filters>
    </Console>
  </Appenders>
<Loggers>
<!--      <Logger name="org.apache.log4j.xml" level="debug">
      <AppenderRef ref="A1"/>
    </Logger>-->
    <Root level="debug">
      <AppenderRef ref="Statistics"/>
      <AppenderRef ref="Performance"/>
      <AppenderRef ref="History"/>
    </Root>
  </Loggers>
</Configuration>
