<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="HISTORY" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>outputAlg</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="HISTORY-${outputAlg}" class="ch.qos.logback.core.FileAppender">
                <file>${outputAlg}_history.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%m%n</pattern>
                </layout>
                <append>false</append>
                <filter class="es.uma.pfc.is.logging.ModeFilter">
                    <Markers>HISTORY,PERFORMANCE</Markers>
                </filter>
            </appender>
        </sift>
    </appender>

    <appender name="STATISTICS" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>outputAlg</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="STATS-${outputAlg}" class="ch.qos.logback.core.FileAppender">
                <file>${outputAlg}.csv</file>
                <append>false</append>
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="es.uma.pfc.is.logging.layout.CSVLayout">
                        <headers>rule,old size,new size</headers>
                    </layout>
                </encoder>
                <filter class="es.uma.pfc.is.logging.ModeFilter">
                    <Markers>STATISTICS</Markers>
                </filter>
            </appender>
        </sift>
    </appender>    
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="HISTORY" />
        <appender-ref ref="STATISTICS" />
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
 
    <root level="INFO">
        <appender-ref ref="ASYNC" />
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="STATISTICS" />
    </root>
</configuration>