<?xml version="1.0" encoding="UTF-8"?>
<configuration  debug="true">
    <!--    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
          <Marker>HISTORY</Marker>
          <OnMatch>ACCEPT</OnMatch>
      </turboFilter>
    -->
    <appender name="HISTORY" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>outputAlg</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="HISTORY-${outputAlg}" class="ch.qos.logback.core.FileAppender">
                <file>${outputAlg}_history.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%m%n</pattern>
                </layout>
                <append>false</append>
                <!--                <filter class="es.uma.pfc.is.logging.ModeFilter">
                    <Markers>HISTORY,PERFORMANCE</Markers>
                </filter>-->
            </appender>
        </sift>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="HISTORY" />
    </appender>
    <!--    <appender name="STATISTICS" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
        <key>algId</key>
        <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
        <appender name="STATS-${algId}" class="ch.qos.logback.core.FileAppender">
            <file>${algId}.csv</file>
            <layout class="es.uma.pfc.logging.CSVLayout">
                <headers>rule,old size,new size</headers>
                <separator>,</separator>
            </layout>
        </appender>
    </sift>
    <filters>
        <MarkerFilter marker="HISTORY" onMatch="ACCEPT" onMismatch="DENY"/>
    </filters>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
 
    <root level="ALL">
        <appender-ref ref="ASYNC" />
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="STATISTICS" />-->
    </root>
</configuration>